
 <div class="footer">
    <div class="footer__PokemonCompany">
  <div class="footer__PokemonCompany__MainImg"></div>
<div class="footer__PokemonCompany__links">
   <div>
    
       What's New
       
   </div>
   <div>
    
     
       Pokémon Parents Guide
       
       
   </div>
   <div>
    
     
       Customer Service
       
   </div>

     <div>
    
   
       About Our Company
       
       
   </div>  

   <div>  Pokémon Careers  </div>  
   <div>  Select a Country/Region   </div>  
   <div>  Pokémon Press Site  </div>  
</div>
    </div>
    <div class="footer__SocialMedia">
 <div class="footer__SocialMedia__fb"></div>
<div class="footer__SocialMedia__youtube"></div>
<div class="footer__SocialMedia__twitter"></div>
<div class="footer__SocialMedia__instagram"></div>
    </div>
    <div class="footer__Privacy">

       <div class="footer__Privacy__img">

       
       </div>
    </div>
</div>