<header class="header">

    <div class="header__pokemon"  routerLink="/NotFound"> 
        <span><img src="../../../assets/images/logo-pokemon-79x45.png" alt="" class="Menu__img"> </span>
 
     </div>

     <div class="header__shop"  routerLink="/NotFound"> 
        <span><img src="../../../assets/images/send.png" alt="" class="Menu__img"> </span>
 
     </div>
    
     <div class="header__play"  routerLink="/NotFound"> 
        <span><img src="../../../assets/images/logo-tcgo-79x45.png" alt="" class="Menu__img"> </span>
    
     </div>

     <div class="header__dungeon"  routerLink="/NotFound"> 
        <span><img src="../../../assets/images/mystery-dungeon-dx-175x50-en.jpg" alt="" class="Menu__img"> </span>
 
     </div>

          <div class="header__clash"  routerLink="/NotFound"> 
        <span><img src="../../../assets/images/swsh02-gus-175-en.jpg" alt="" class="Menu__img"> </span>
   
     </div>
     
     <div class="header__swordshield"  routerLink="/NotFound"> 
        <span><img src="../../../assets/images/sword-shield-promo-gus-176x50-en.jpg" alt="" class="Menu__img"> </span>
 
     </div>
</header>
 
<div class="Menu">
    
    <div class="Menu__Home"  routerLink="/NotFound"> 
        <span><img src="./send.png" alt="" class="Menu__img"> </span>
        <span> Home </span>
     </div>

    <div class="Menu__PokeDex"  routerLink="/NotFound">
        <span><img src="./send.png" alt="" class="Menu__img">  </span>
        <span>PokeDex </span>
    </div>

    <div class="Menu__Games"  routerLink="/NotFound">
        <span><img src="./send.png" alt="" class="Menu__img"> </span>
        <span> Video Games & Apps </span>
     </div>

    <div class="Menu__CardGame"  routerLink="/NotFound">
        <span><img src="./send.png" alt="" class="Menu__img"> </span>
        <span> Trading Card Game </span> 
    </div>

    <div class="Menu__PokemonTV"  routerLink="/NotFound">
        <span><img src="./send.png" alt="" class="Menu__img"> </span>
        <span> Pokemon TV </span> 
    </div>

    <div class="Menu__PokemonEvents"  routerLink="/NotFound">
        <span><img src="./send.png" alt="" class="Menu__img">   </span>
        <span> Play! Pokemon Events </span> 
    </div>

    <div class="Menu__News"  routerLink="/NotFound">
        <span><img src="./send.png" alt="" class="Menu__img"> </span>
        <span> News</span>
     </div>

</div>
