 

 
<div class="Main">
    <div class="backgroundBlockWhite"></div> 
    <div class="backgroundBlockBlack"></div> 
<div class="left">
 
<div class="left__stream">
    <div class="left__stream__up"  >
              <img src="../../../assets/images/kalruna.jpg" alt="Stream" id="Stream"  routerLink="/NotFound">
             
    </div>
    <div class="left__stream__down">
        <span class="textHead">Tune in to the Pokémon Players Cup Video Game Invitational</span>
     <span>Don’t miss two days of high-level Pokémon Sword and Pokémon Shield battles this Saturday and Sunday.</span>
    </div>
    
</div>
 
    <div class="left__wrapper">
        <div class="left__wrapper__Armor">
            <div class="left__wrapper__Armor__up">
                <img src="../../../assets/images/isle-of-armor-169-en.jpg" alt="Armor" id="Armor">
            </div>
            <div class="left__wrapper__Armor__down">
                <span class="textHead">Visit the Isle of Armor Today!</span>
            </div>
            
        </div>
        <div class="left__wrapper__Analysis">
            <div class="left__wrapper__Analysis__up">
                <img src="../../../assets/images/dragapult-vmax-strategy-169-en.jpg" alt="Analysis">
            </div>
            <div class="left__wrapper__Analysis__down">
                <span class="textHead">eck Analysis: Dragapult VMAX</span>
            </div>
        </div>
 
</div>
</div> 
 

<div class="right">
     
        <div class="right__Tactics">
            <div class="right__Tactics__up">
                <img src="../../../assets/images/sword-shield-169-en.jpg" alt="Tactics">
            </div>
            <div class="right__Tactics__down">
                <div class="right__Tactics__down__textHead textHead">Battle Tactics: Get Control of Speed in Your Next Battle</div>
            </div>
        </div>
        <div class="right__NewGmes">
            <div class="right__NewGmes__up">
                <img src="../../../assets/images/pokemon-presents-roundup-34-en.jpg" alt="NewGmes">
            </div>
            <div class="right__NewGmes__down">
                <span class="textHead">New Pokémon Games Announced</span>
            </div>
        </div>
        <div class="right__Weedle">
            <div class="right__Weedle__up">
                <img src="../../../assets/images/pokemon-go-169.jpg" alt="Weedle">
            </div>
            <div class="left__Weedle__down">
                <span class="textHead">Unearth More Weedle This Community Day</span>
            </div>
     
    </div> 
</div>
<div class="backgroundBlockBlack"></div> 
<div class="backgroundBlockWhite"></div> 
  
</div>
<div class="AlmostBottom"> 

 <div class="AlmostBottom__right"></div>
    <div class="AlmostBottom__main">
      <div class="AlmostBottom__main__link">
          <a routerLink="/Allpokemons"  class="AlmostBottom__main__link__button text"  >
            <span class="textBottom">  
            Explore More Pokemons
        </span> 
        </a>
      </div>    
    </div>
    <div class="AlmostBottom__left"> </div>  
</div>
 
 